__pycache__
.idea
tokens/
venv/
Docker/MySQL/data/
static/uploads/
user_uploads/
temp
test-results
.DS_Store
screenshots/
.npmrc
chrome-profile/
Skills
node_modules/
build/
dist/
.vscode/
.svelte-kit/

